<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nodejs</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <h1>From mixi with love</h1>
    <a href="/">Project</a>
    <a href="/contact">Contact</a>
    <a href="/message">Message</a>
    <a href="/data">Data</a>
    <a href="/profile">Profile</a>
    <a href="/knowledge">Knowledge</a>
 
    <h2>Projects</h2>
    <table class="w3-table-all">
      <thead>
        <tr class="w3-light-grey">
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>IMG</th>
          <th>Language</th>
          <th>Git</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
 <% for(let i = 0; i < data.length; i++){%>
        <tr>
          <td><%=data[i].ID %></td>
          <td><%=data[i].name %></td>
          <td><%=data[i].description %></td>
          <td><%=data[i].img %></td>
          <td><%=data[i].language %></td>
          <td><%=data[i].gitlink %></td>
          <td><%=data[i].codelink %></td>
          <td><form action="/project-delete" method="POST"><input hidden type="text" name="project_id" value="<%= data[i].ID%>"></input> <input type="submit" value="Delete"></input> </form></td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <h2>Create Project</h2>
    <form action="/project-create" method="POST" enctype="multipart/form-data"  >
      <input type="text"  name="name" value="" />
      <input
        type="text"
        name="description"
        value=""
      />
      <input type="file"  name="img" value="" accept="image/png, image/jpg, image/gif, image/jpeg" />
      <input type="text"  name="language" value="" />
      <input type="text"  name="gitlink" value="" />
      <input type="text"  name="codelink" value="" />
      <input type="submit" value="Submit" />
    </form>
    <div class="footer"></div>
  </body>
</html>
